{% extends 'base.html' %}

{% block content %}
    <h1>Редактирование товара</h1>
    <div class="col-6">
    <form method="post" action="{{ url_for('edit_product', id=product.id) }}">
        <div class="mb-3">
            <label for="name" class="form-label">Наименование</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ product.name }}" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Описание</label>
            <textarea class="form-control" id="description" name="description" rows="3" required>{{ product.description }}</textarea>
        </div>
        <div class="mb-3">
            <label for="weight" class="form-label">Вес</label>
            <input type="text" class="form-control" id="weight" name="weight" value="{{ product.weight }}" required>
        </div>
        <div class="mb-3">
            <label for="quantity" class="form-label">Количество</label>
            <input type="text" class="form-control" id="quantity" name="quantity" value="{{ product.quantity }}" required>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Цена</label>
            <input type="text" class="form-control" id="price" name="price" value="{{ product.price }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
  </div>
{% endblock %}